html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  z-index: 0;
}

* {
	box-sizing: border-box;
  }

.div2 {
	position:absolute;
	top: 25%;
	left: 35.5%;

	width: 330px;
	padding: 15px;
	margin: 0 auto;
	float: none;
	z-index: 2;
}
@media screen  and (max-width:500px){
	.div2 {
		width: 200px;
		left: 30%;
	}
}
@media screen  and (max-height: 500px){
	.div2 {
		top: 15%;
	}
}
@media screen and (max-height: 300px) {
	.div2 {
		top: 10%;
	}
}

.div3 {
	position:absolute;
	top: 90%;
	left: 35.5%;
	overflow: hidden;

	width: 330px;
	padding: 15px;
	margin: 0 auto;
	float: none;
	z-index: 2;
}
@media screen  and (max-width:500px){
	.div3 {
		width: 200px;
		left: 35%;
	}
}
@media screen  and (max-height: 500px){
	.div3 {
		top: 85%;
		left: 30%;
	}
}
@media screen and (max-height: 400px) {
	.div3 {
		top: 80%;
		left: -10%;
	}
}



.wrapper {
	width: 100%;
	height: 125%;

	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
	background: #fff;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  @media screen and (min-width: 900px){
	.wrapper{
		width: 100%;
		height: 125%;
	}
  }
  
  .title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: center;
	color: white;
	font-family: serif;
	font-size: 30px;
  }

  .wave {
	background: #6a82fb;
	width: 500px;
	height: 500px;
	border-radius: 40%;
	opacity: 0.4;
	position: absolute;
	top: 0%;
	left: 50%;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: center;
	animation: drift 7s infinite linear;
  }

  .wave.two {
	animation: drift 9s infinite linear;
  }

  .wave.three {
	animation: drift 11s infinite linear;
	opacity: 0.1;
  }


  @keyframes drift {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .wrapper:after {
	content: "";
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  to bottom,
	  #ff99aa,
	  rgba(238, 221, 255, 0) 80%,
	  rgba(255, 255, 255, 0.5) 100%
	);
	z-index: 11;
	transform: translate3d(0, 0, 0);
  }


  .btn-primary {
	color: rgb(173, 87, 169);
	background-color: rgb(255, 219, 236);
	border-color: rgb(243, 103, 243);
	font-size: 16px;
  }
  @media screen and (max-width: 900px){
	.btn-primary {
		font-size: 10px;
	}
  }

  .form-control {
	  background-color:#ffebfd;
  }

  h1 {
	  font-size: 24px;
  }
  @media screen and (max-width: 500px){
	  h1 {
		  font-size: 16px;
	  }
  }

h6 {
	font-style: oblique;
	font-size: 18px;
	color: rgb(202, 173, 211);
}
@media screen and (max-width: 500px){
	h6 {
		font-size: 16px;
	}
}


